
.HEADER{
    text-align:right;
    margin-left:20%;  
    }
    
.HEADER{
    margin-left:40%;
  }
  
  
  body {
    margin: 0 20px;
    }
  
  
  .location {
             
            }

  section {
  }
  
  div {
      
      }
      
  div.location
  
  .experience h3{
      }
