
.CONTAINER{
    margin-top:5%;
    }


.HEADER{
    margin-left:%;
    }
    
.SECTION{
    margin-left:20%;
  }
  

  
  
  .location {
             
            }

  section {
  }
  
  div {
      
      }
      
  div.location
  
  .experience h3{
      }
